<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Imageboard{% endblock title %}</title>
    {% block css %}
    {% endblock css %}
</head>
<body>
    <div class="{% block flash_class %}flashes{% endblock %}">
      <br>
      {% block flashes %}
        {% for (category, message) in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}

      {% endblock flashes %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    {% block js %}
    <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
    {% endblock js %}
</body>
</html>