
{# Given the form object itself and an 'action'
   endpoint, builds the form used for creating
   posts, OR starting a new thread--the only
   difference for the latter, is it has a
   "subject" input as well. #}

{% macro show_post_form(form, action, new_thread=False) %}
<form action="{{ action }}" enctype=multipart/form-data method="POST">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name() }}
    {% if is_thread %}
    {{ form.subject.label }} {{ form.subject() }}
    {% endif %}
    {{ form.comment.label }} {{ form.comment() }}
    {{ form.image.label }} {{ form.image() }}
    <input type="submit" value="Post">
</form>
{% endmacro %}