
{% from "_post.html" import show_post %}
{% extends "_base.html" %}

{% block content %}
<div>
    <h1>Thread #{{ thread.id }}:</h1>
    <p>Subject: {{ thread.subject }}</p>

    {% for p in thread.posts %}
        {{ show_post(p) }}
    {% endfor %}

    <form id="new-post-form" action="{{ url_for('new_post', thread_id=thread.id) }}" enctype=multipart/form-data method="POST">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.comment.label }} {{ form.comment() }}
    {{ form.image.label }} {{ form.image() }}
    <input type="submit" value="Post">
</form>

</div>
{% endblock %}
